

html, body {
    scroll-behavior: smooth;
    min-height: 100%;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
}
body {
    background: #232526;
    background: linear-gradient(180deg, rgba(35, 37, 38, 1) 0%, rgba(65, 67, 69, 1) 100%);
}
header {
    text-align: center;
    border-bottom: white solid 2px;
}
nav {
    margin-bottom: 15px;
}
nav a {
    padding: 1rem;
}
h1, h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: grey;
}
#about, #education {
    text-align: center;
}
#about p, #skills p {
    width: 75%;
    margin: 0 auto;
}
#skills {
    width: 75%;
    margin: 0 auto;
}

.icons img {
    width: 60px;
    height: 60px;
    padding: 1rem;
    transition: transform .2s;

}
.icons img:hover {
    transform: scale(1.2);
}
#education div {
    width: 75%;
    margin: auto;
    border: black 1px solid;
    background-color: #782F40;
    color: #CEB888;
}

.experience-container {
    text-align: center;
    margin: 1rem 0;
}

.experience-button {
    width: 75%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}
.experience-button i,
.experience-button b {
    flex: 1;
}

.experience-button i:first-child {
    text-align: left;
}

.experience-button b {
    text-align: center;
}

.experience-button i:last-child {
    text-align: right;
}
.experience-box {
    display: none;
    width: 75%;
    margin: auto;
    background-color: grey;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
}
.experience-box li {
    padding-bottom: 0.5rem;
}
.projects-container {
    max-width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}
.project {
    height: 20rem;
    border: black 1px solid;
}
.project h3 {
    text-align: center;
}
.project-skills {
    margin-top: 2rem;
    margin-left: 1.5rem;
}
.project-skills span {
    width: 10rem;
    border:  black 1px solid;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}